@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

:root, body, #root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #F7F9FC;
  width: 100%;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}