@import "tailwindcss";

/* 1. ATURAN DEFAULT (MODE TERANG / PUTIH) */
html, body, #root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  width: 100%;
  background-color: #FFFFFF !important; 
  color: #1F2E4D !important;           
  transition: background-color 0.2s ease, color 0.2s ease;
  scroll-behavior: smooth;
}


html.dark, 
html.dark body, 
html.dark #root {
  background-color: #0B132B !important;
  color: #F4F7FC !important;
}